.elementor-kit-199 {
  --e-global-color-primary: #0d0d0d;
  --e-global-color-secondary: #735235;
  --e-global-color-text: #383838;
  --e-global-color-accent: #ffbd00;
  --e-global-color-2e11e47: #008661;
  --e-global-color-a4dbc07: #a2a2a2;
  --e-global-color-3f66e96: #fbf2e5;
  --e-global-color-3620875: #f7f4f0;
  --e-global-color-3651f67: #deb494;
  --e-global-color-54d6b4a: #d7d7d7;
  --e-global-color-79bd9c3: #fb733b;
  --e-global-color-6a5b2a8: #f25430;
  --e-global-color-aee5f57: #f6f6f6;
  --e-global-color-0bc67d9: #ffffff;
  --e-global-color-caae652: #121212;
  --e-global-color-5edf8c0: #656565;
  --e-global-color-b038d9f: #433224;
  --e-global-typography-primary-font-family: "Red Rose";
  --e-global-typography-primary-font-size: 46px;
  --e-global-typography-primary-font-weight: 500;
  --e-global-typography-primary-line-height: 1em;
  --e-global-typography-secondary-font-family: "Red Rose";
  --e-global-typography-secondary-font-size: 34px;
  --e-global-typography-secondary-font-weight: 500;
  --e-global-typography-text-font-family: "Kumbh Sans";
  --e-global-typography-text-font-size: 17px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-text-transform: none;
  --e-global-typography-text-font-style: normal;
  --e-global-typography-text-text-decoration: none;
  --e-global-typography-text-line-height: 1.4em;
  --e-global-typography-accent-font-family: "Red Rose";
  --e-global-typography-accent-font-size: 16px;
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-accent-line-height: 1.25em;
  --e-global-typography-b174bce-font-family: "Red Rose";
  --e-global-typography-b174bce-font-size: 64px;
  --e-global-typography-b174bce-font-weight: 600;
  --e-global-typography-b174bce-line-height: 1em;
  --e-global-typography-ca9f584-font-family: "Red Rose";
  --e-global-typography-ca9f584-font-size: 26px;
  --e-global-typography-ca9f584-font-weight: 500;
  --e-global-typography-ca9f584-line-height: 1.1em;
  --e-global-typography-c489ea5-font-family: "Red Rose";
  --e-global-typography-c489ea5-font-size: 20px;
  --e-global-typography-c489ea5-font-weight: 500;
  --e-global-typography-c489ea5-line-height: 1.1em;
  --e-global-typography-77ec860-font-family: "Satisfy";
  --e-global-typography-77ec860-font-size: 22px;
  --e-global-typography-77ec860-font-weight: 400;
  --e-global-typography-77ec860-line-height: 1.4em;
  --e-global-typography-c0f91bc-font-family: "Kumbh Sans";
  --e-global-typography-c0f91bc-font-size: 17px;
  --e-global-typography-c0f91bc-font-weight: 500;
  --e-global-typography-c0f91bc-line-height: 1.4em;
  --e-global-typography-72a804b-font-family: "Kumbh Sans";
  --e-global-typography-72a804b-font-size: 14px;
  --e-global-typography-72a804b-font-weight: 400;
  --e-global-typography-72a804b-line-height: 1.4em;
  --e-global-typography-c31d169-font-family: "Kumbh Sans";
  --e-global-typography-c31d169-font-size: 12px;
  --e-global-typography-c31d169-font-weight: 500;
  --e-global-typography-c31d169-line-height: 1.3em;
  --e-global-typography-521e8cf-font-family: "Kumbh Sans";
  --e-global-typography-521e8cf-font-size: 14px;
  --e-global-typography-521e8cf-font-weight: 500;
  --e-global-typography-521e8cf-text-transform: uppercase;
  --e-global-typography-521e8cf-line-height: 1.3em;
  --e-global-typography-a518c53-font-family: "Satisfy";
  --e-global-typography-a518c53-font-size: 70px;
  --e-global-typography-a518c53-font-weight: 400;
  --e-global-typography-82ad5a3-font-family: "Red Rose";
  --e-global-typography-82ad5a3-font-size: 16px;
  --e-global-typography-82ad5a3-font-weight: 500;
  --e-global-typography-82ad5a3-text-transform: uppercase;
  --e-global-typography-82ad5a3-line-height: 1.1em;
  --e-global-typography-83c768d-font-family: "Kumbh Sans";
  --e-global-typography-83c768d-font-size: 12px;
  --e-global-typography-83c768d-font-weight: 500;
  --e-global-typography-83c768d-text-transform: uppercase;
  --e-global-typography-83c768d-line-height: 1.3em;
  --e-global-typography-3ad7438-font-size: 26px;
  --e-global-typography-3ad7438-font-weight: 500;
  --e-global-typography-3ad7438-text-transform: uppercase;
  --e-global-typography-3ad7438-line-height: 1.1em;
  --e-global-typography-5e0a9d0-font-family: "Red Rose";
  --e-global-typography-5e0a9d0-font-size: 20px;
  --e-global-typography-5e0a9d0-font-weight: 500;
  --e-global-typography-5e0a9d0-text-transform: uppercase;
  --e-global-typography-5e0a9d0-line-height: 1.1em;
  --e-global-typography-8902441-font-family: "Red Rose";
  --e-global-typography-8902441-font-size: 80px;
  --e-global-typography-8902441-font-weight: 700;
  --e-global-typography-8902441-line-height: 1em;
  --e-global-typography-245dc96-font-family: "Kumbh Sans";
  --e-global-typography-245dc96-font-size: 40px;
  --e-global-typography-245dc96-font-weight: 700;
  --e-global-typography-245dc96-line-height: 1em;
  --e-global-typography-245dc96-letter-spacing: 2.4px;
  --e-global-typography-245dc96-word-spacing: 0px;
  --e-global-typography-8ec2821-font-family: "Kumbh Sans";
  --e-global-typography-8ec2821-font-size: 36px;
  --e-global-typography-8ec2821-font-weight: 700;
  --e-global-typography-8ec2821-line-height: 1em;
  --e-global-typography-0db8cbe-font-family: "Leckerli One";
  --e-global-typography-0db8cbe-font-size: 50px;
  --e-global-typography-0db8cbe-font-weight: normal;
  --e-global-typography-0db8cbe-font-style: normal;
  --e-global-typography-0db8cbe-text-decoration: none;
  --e-global-typography-0db8cbe-line-height: 1em;
  --e-global-typography-0db8cbe-letter-spacing: 1px;
  --e-global-typography-0db8cbe-word-spacing: 0px;
  --e-global-typography-56f0dbe-font-family: "Red Rose";
  --e-global-typography-56f0dbe-font-size: 64px;
  --e-global-typography-56f0dbe-font-weight: 500;
  --e-global-typography-56f0dbe-line-height: 1em;
  --e-global-typography-7535ca2-font-family: "Kumbh Sans";
  --e-global-typography-7535ca2-font-size: 20px;
  --e-global-typography-7535ca2-font-weight: 400;
  --e-global-typography-7535ca2-text-transform: none;
  --e-global-typography-7535ca2-font-style: normal;
  --e-global-typography-7535ca2-text-decoration: none;
  --e-global-typography-7535ca2-line-height: 1.4em;
  --e-global-typography-53b84fe-font-family: "WindSong";
  --e-global-typography-53b84fe-font-size: 22px;
  --e-global-typography-53b84fe-font-weight: normal;
  --e-global-typography-bf7ca0b-font-family: "Seymour One";
  --e-global-typography-bf7ca0b-font-size: 58px;
  --e-global-typography-bf7ca0b-font-weight: normal;
  --e-global-typography-bf7ca0b-line-height: 1em;
  --e-global-typography-5c1955a-font-family: "Red Rose";
  --e-global-typography-5c1955a-font-size: 280px;
  --e-global-typography-5c1955a-font-weight: 700;
  --e-global-typography-5c1955a-line-height: 1em;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-kit-199 button,
.elementor-kit-199 input[type="button"],
.elementor-kit-199 input[type="submit"],
.elementor-kit-199 .elementor-button {
  background-color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
  color: var(--e-global-color-0bc67d9);
  border-style: solid;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  padding: 12px 32px 12px 32px;
}
.elementor-kit-199 button:hover,
.elementor-kit-199 button:focus,
.elementor-kit-199 input[type="button"]:hover,
.elementor-kit-199 input[type="button"]:focus,
.elementor-kit-199 input[type="submit"]:hover,
.elementor-kit-199 input[type="submit"]:focus,
.elementor-kit-199 .elementor-button:hover,
.elementor-kit-199 .elementor-button:focus {
  background-color: #02010100;
  color: var(--e-global-color-primary);
  border-style: solid;
  border-radius: 0px 0px 0px 0px;
}
.elementor-kit-199 e-page-transition {
  background-color: #ffbc7d;
}
.elementor-kit-199 p {
  margin-bottom: 16px;
}
.elementor-kit-199 a {
  color: var(--e-global-color-6a5b2a8);
}
.elementor-kit-199 h1 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-b174bce-font-family), Sans-serif;
  font-size: var(--e-global-typography-b174bce-font-size);
  font-weight: var(--e-global-typography-b174bce-font-weight);
  line-height: var(--e-global-typography-b174bce-line-height);
}
.elementor-kit-199 h2 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
}
.elementor-kit-199 h3 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-kit-199 h4 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-ca9f584-font-family), Sans-serif;
  font-size: var(--e-global-typography-ca9f584-font-size);
  font-weight: var(--e-global-typography-ca9f584-font-weight);
  line-height: var(--e-global-typography-ca9f584-line-height);
}
.elementor-kit-199 h5 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-c489ea5-font-family), Sans-serif;
  font-size: var(--e-global-typography-c489ea5-font-size);
  font-weight: var(--e-global-typography-c489ea5-font-weight);
  line-height: var(--e-global-typography-c489ea5-line-height);
}
.elementor-kit-199 h6 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-kit-199 label {
  color: var(--e-global-color-5edf8c0);
  font-family: var(--e-global-typography-521e8cf-font-family), Sans-serif;
  font-size: var(--e-global-typography-521e8cf-font-size);
  font-weight: var(--e-global-typography-521e8cf-font-weight);
  text-transform: var(--e-global-typography-521e8cf-text-transform);
  line-height: var(--e-global-typography-521e8cf-line-height);
}
.elementor-kit-199 input:not([type="button"]):not([type="submit"]),
.elementor-kit-199 textarea,
.elementor-kit-199 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-54d6b4a);
  border-radius: 0px 0px 0px 0px;
  padding: 14px 12px 14px 012px;
}
.elementor-kit-199 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-199 textarea:focus,
.elementor-kit-199 .elementor-field-textual:focus {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-secondary);
  border-radius: 0px 0px 0px 0px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1280px;
}
.e-con {
  --container-max-width: 1280px;
  --container-default-padding-top: 16px;
  --container-default-padding-right: 16px;
  --container-default-padding-bottom: 16px;
  --container-default-padding-left: 16px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 16px;
}
.elementor-element {
  --widgets-spacing: 16px 16px;
  --widgets-spacing-row: 16px;
  --widgets-spacing-column: 16px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .elementor-kit-199 {
    --e-global-typography-8902441-font-size: 60px;
    --e-global-typography-245dc96-font-size: 14px;
    --e-global-typography-8ec2821-font-size: 36px;
    --e-global-typography-0db8cbe-font-size: 40px;
    --e-global-typography-5c1955a-font-size: 200px;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-199 h1 {
    font-size: var(--e-global-typography-b174bce-font-size);
    line-height: var(--e-global-typography-b174bce-line-height);
  }
  .elementor-kit-199 h2 {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-kit-199 h3 {
    font-size: var(--e-global-typography-secondary-font-size);
  }
  .elementor-kit-199 h4 {
    font-size: var(--e-global-typography-ca9f584-font-size);
    line-height: var(--e-global-typography-ca9f584-line-height);
  }
  .elementor-kit-199 h5 {
    font-size: var(--e-global-typography-c489ea5-font-size);
    line-height: var(--e-global-typography-c489ea5-line-height);
  }
  .elementor-kit-199 h6 {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-199 button,
  .elementor-kit-199 input[type="button"],
  .elementor-kit-199 input[type="submit"],
  .elementor-kit-199 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    border-width: 1px 1px 1px 1px;
    padding: 012px 32px 12px 32px;
  }
  .elementor-kit-199 button:hover,
  .elementor-kit-199 button:focus,
  .elementor-kit-199 input[type="button"]:hover,
  .elementor-kit-199 input[type="button"]:focus,
  .elementor-kit-199 input[type="submit"]:hover,
  .elementor-kit-199 input[type="submit"]:focus,
  .elementor-kit-199 .elementor-button:hover,
  .elementor-kit-199 .elementor-button:focus {
    border-width: 1px 1px 1px 1px;
  }
  .elementor-kit-199 label {
    font-size: var(--e-global-typography-521e8cf-font-size);
    line-height: var(--e-global-typography-521e8cf-line-height);
  }
  .elementor-kit-199 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-199 textarea,
  .elementor-kit-199 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-199 {
    --e-global-typography-primary-font-size: 34px;
    --e-global-typography-secondary-font-size: 28px;
    --e-global-typography-b174bce-font-size: 42px;
    --e-global-typography-ca9f584-font-size: 24px;
    --e-global-typography-c489ea5-font-size: 18px;
    --e-global-typography-a518c53-font-size: 50px;
    --e-global-typography-3ad7438-font-size: 24px;
    --e-global-typography-5e0a9d0-font-size: 18px;
    --e-global-typography-8902441-font-size: 40px;
    --e-global-typography-245dc96-font-size: 23px;
    --e-global-typography-0db8cbe-font-size: 28px;
    --e-global-typography-56f0dbe-font-size: 42px;
    --e-global-typography-bf7ca0b-font-size: 40px;
    --e-global-typography-5c1955a-font-size: 100px;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-199 h1 {
    font-size: var(--e-global-typography-b174bce-font-size);
    line-height: var(--e-global-typography-b174bce-line-height);
  }
  .elementor-kit-199 h2 {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-kit-199 h3 {
    font-size: var(--e-global-typography-secondary-font-size);
  }
  .elementor-kit-199 h4 {
    font-size: var(--e-global-typography-ca9f584-font-size);
    line-height: var(--e-global-typography-ca9f584-line-height);
  }
  .elementor-kit-199 h5 {
    font-size: var(--e-global-typography-c489ea5-font-size);
    line-height: var(--e-global-typography-c489ea5-line-height);
  }
  .elementor-kit-199 h6 {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-199 button,
  .elementor-kit-199 input[type="button"],
  .elementor-kit-199 input[type="submit"],
  .elementor-kit-199 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-199 label {
    font-size: var(--e-global-typography-521e8cf-font-size);
    line-height: var(--e-global-typography-521e8cf-line-height);
  }
  .elementor-kit-199 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-199 textarea,
  .elementor-kit-199 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
